################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/linkexamples/.vs/linkexamples
/linkexamples/obj
